.map-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}


.room{
    background: url('./room.png'); 
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    background-position: center;
}