<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type='text/javascript'>
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', 'MTlbnxvOkSJ7PxhmhshJfpDonGG1N7PThPnMApl2', { region: 'eu' });
    </script>
  </head>
  <body>
    <form name="goldenBook" method="POST" data-netlify="true" style="color: white;" hidden=""><label>Nom : <input name="name" type="text" style="color: white;"></label><button type="submit">Envoyer</button></form>
  </body>
</html>